{% extends 'base.html.twig' %}

{% block title %} {{ title }}
{% endblock %}

{% form_theme formCommande 'bootstrap_4_layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
{% endblock %}

{% block body %}


<h1 class="display-3 text-center">{{ title }}</h1>

<div class="container">
    <div class="row">
        <div class="col-8">
            <section class="billetterie">


                {{ form_start(formCommande) }}

                <div class="calendar">
                     {{ form_row(formCommande.DateCommande) }}
                </div>

                <div class="formule">
                    {{ form_row(formCommande.Formule) }}
                </div>

                <ul class="billet"
                    data-prototype="{{ form_widget(formCommande.billets.vars.prototype)|e('html_attr') }}">
                    <li>{{ form_row(formCommande.NbBillet) }}</li>
                </ul>

                <div class="email">
                    {{ form_row(formCommande.email) }}
                </div>


                {{ form_end(formCommande) }}
            </section>
            <br><br><br>
        </div>

        <div class="col-4">

        </div>
    </div>
</div>
    {% endblock %}

    {% block javascripts %}
        {{ parent() }}
        {#<script src="{{  absolute_url(asset('public/js/sousFormulaire.js')) }}"></script>#}
        <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <script>
            var $collectionHolder;

           var pickr = flatpickr(".js-datepicker", {"disable": ["2019-01-01", "2019-04-22", "2019-05-01","2019-05-08","2019-05-30","2019-06-10","2019-07-14","2019-08-15","2019-11-01","2019-11-11","2019-12-25",

                    function(date) {
                        // return true to disable
                        return (date.getDay() === 2 || date.getDay() === 0);
                    }
                ],
                "locale": {
                    "firstDayOfWeek": 1 // start week on Monday
                },
                dateFormat: "Y-m-d",
            });

            pickr.onChange(function(selectedDates, dateStr, instance){

            });

            $(document).ready(function () {

                // $('#commande_DateCommande').flatpickr();

                $('#commande_DateCommande').on('change', function (e) {

                    console.log($(e).val());
                     $.get("/limitCommande/2019-02-20", function (data, status) {
                         console.log(data, status);
                        if (data.quantity > 3){
                            $('#commande_valider').prop('disabled', true);
                            alert("Déjà plus de 1000 billets vendus pour cette date. Commande impossible.");
                        }
                        else {
                            $('#commande_valider').prop('disabled', false);
                        }
                    });
                });

                $('#commande_NbBillet').on('change', function (e) {
                    e.preventDefault();
                    $('li.deleteOnChangeForm').remove();
                    // Get the ul that holds the collection of etapes
                    $collectionHolder = $('ul.billet');

                    // count the current form inputs we have (e.g. 2), use that as the new
                    // index when inserting a new item (e.g. 2)
                    $collectionHolder.data('index', $collectionHolder.find(':input').length);

                    var NbBillet = $('#commande_NbBillet').val() - 1;
                    console.log(NbBillet);
                    for (var i = 0; i < NbBillet; i++) {
                        addBilletForm($collectionHolder);
                    }
                    // $addBilletLink.on('click', function(e) {
                    //     // prevent the link from creating a "#" on the URL
                    //     e.preventDefault();
                    //
                    //     // add a new tag form (see next code block)
                    //     addBilletForm($collectionHolder, $newLinkLi);
                    //
                    //     addBilletForm($('#commande_NbBillet').val() - 1);
                    // });
                });

                function addBilletForm($collectionHolder) {
                    var prototype = $collectionHolder.data('prototype');
                    var index = $collectionHolder.data('index');
                    var newForm = prototype;
                    newForm = newForm.replace(/__name__/g, index);
                    $collectionHolder.data('index', index + 1);
                    var $newFormLi = $('<li class="deleteOnChangeForm"></li>').append(newForm);
                    $('ul.billet').append($newFormLi);
                };

            });
        </script>
    {% endblock %}


